
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body{
  background-image: url("./Purpink.jpg");    
  width: 100%;
  background-attachment: fixed;
}

.title h2
{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
     font-size: 40px;
     color:whitesmoke;
     margin-bottom: 40px;
}

.title h3
{
    text-align: right;
    margin-top: -60px;
    margin-right: 100px;
   
}

.title h3 a{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
}


.navbar li
{
    background-color: yellow;
    margin-right: 20px;
   
    text-decoration: none;
    display: inline-block;
    padding: 7px 80px;


}

.navbar nav
{
    text-align: center;
    margin-top: -15px;
   
}


.navbar nav ul a
{
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pic img {
    width: 754px;
    height: 310px;
    position: absolute;
    top: 147px;
    left: 116px;
}

.price {
    width: 390px;
    height: 196px;
    position: absolute;
    right: 82px;
    top: 86px;
    font-family: 'Montserrat', sans-serif;
}

.one, .two
{
    background-color: yellow;
    text-align: center;
    font-size: 60px;   
}

.one p, .two p {
    padding: 37px;
    margin-bottom: -40px;
}


.maintitle
{
    position: absolute;
    top: 220px;
    left: 170px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.maintitle h3,h5{
    background-color: yellow;
    border: 1px solid black;
    border-radius: 2px;
  
  
}
.maintitle h3{
    padding: 5px 15px;
}

.maintitle h5
{
    width: 100px;
    font-size: 10px;
    padding: 3px;
    margin-top: -10px;
    
}

.icon
{
    margin-left: 110px;
    margin-top: 370px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: px;
}
.ione, .itwo, .ithree, .ifour {
    background-color: white;
    width: 240px;
    display: inline-block;
    text-align: center;
   
    padding: 5px 20px;
    margin-right: 10px;

}

.ione img, .itwo img, .ithree img, .ifour img
{
    width: 50px;
    align-content: center;
}

